<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/01_Assignment/src/com/assignment/model/TrapezoidArea_Alternative.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.assignment.model.TrapezoidArea_Alternative"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="25&#13;&#10;34&#13;&#10;23"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="01_Assignment"/>
</launchConfiguration>
